<div class="container">
  <form method="POST">
    <div class="mb-3">
      <label for="id" class="form-label">ID</label>
      <input type="number" class="form-control" id="id" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name"/>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="text" class="form-control" id="image"/>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" />
    </div>
    <div class="mb-3">
      <label for="product" class="form-label">Product</label>
      <input type="text" class="form-control" id="product" />
    </div>
    <div class="mb-3">
      <label for="color" class="form-label">Color</label>
      <input type="text" class="form-control" id="color" placeholder="#..."/>
    </div>
    <button type="button" class="btn btn-primary" onclick="addProduct()">
      Save
    </button>
  </form>
</div>

<script>
  function addProduct() {
    const id = $("#id").val();
    const name = $("#name").val();
    const image = $("#image").val();
    const price = $("#price").val();
    const description = $("#description").val();
    const product = $("#product").val();
    const color = $("#color").val();
    let data = {id, name, price, image, description, product, color}
    
    callAddProduct(data);
  }


  function clearFormFields() {
    $("#id").val('');
    $("#name").val('');
    $("#image").val('');
    $("#price").val('');
    $("#description").val('');
    $("#product").val('');
    $("#color").val('');
  }
  
</script>